$default-spacing: 5px
$border-radius: 2px
$border-color: #ccc
$ok-green: #9f9
$info-blue: #e5e5ff
$dark-color: #444
$bright-color: #fff
$bright-color-2: #ffcc00
$dark-color-alt: #888
$report-entry-width: 300px

body
  padding-left: $default-spacing
  padding-right: $default-spacing

dd
  margin-left: 2 * $default-spacing
  margin-bottom: $default-spacing

li
  margin-bottom: $default-spacing

nav
  background-color: $dark-color-alt
  font-weight: bold
  a
    text-decoration: none
    color: black
  a:visited
    color: black
  ul
    display: flex
    flex-direction: row
    li
      list-style: none
      margin: 2 * $default-spacing

#main-nav
  background-color: $dark-color
  color: $bright-color
  a
    color: $bright-color-2
  a:visited
    color: $bright-color-2

.report-container
  display: flex
  flex-direction: row
  flex-wrap: wrap

.report-entry
  border: 1px solid $border-color
  border-radius: $border-radius
  flex-basis: $report-entry-width
  margin: $default-spacing
  padding: $default-spacing

.notification
  border: 1px solid $border-color
  padding: $default-spacing
  border-radius: $border-radius
  background-color: $info-blue

.notification-success
  background-color: $ok-green